In [2]:
import numpy as np

In [4]:
data=np.loadtxt("training_diabetes_x_y_train.csv",delimiter=",")

In [7]:
import pandas as pd

In [9]:
d=pd.read_csv("training_diabetes_x_y_train.csv")

In [10]:
d

,# age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Y
0,-0.049105,-0.044642,0.160855,-0.046985,-0.029088,-0.019790,-0.047082,0.034309,0.028017,0.011349,346.0
1,-0.070900,0.050680,-0.089197,-0.074528,-0.042848,-0.025739,-0.032356,-0.002592,-0.012908,-0.054925,104.0
2,0.001751,-0.044642,-0.070875,-0.022885,-0.001569,-0.001001,0.026550,-0.039493,-0.022512,0.007207,49.0
3,0.048974,0.050680,0.081097,0.021872,0.043837,0.064134,-0.054446,0.071210,0.032433,0.048628,180.0
4,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349,110.0
...,...,...,...,...,...,...,...,...,...,...,...
326,0.012648,-0.044642,-0.020218,-0.015999,0.012191,0.021233,-0.076536,0.108111,0.059881,-0.021788,233.0
327,0.019913,-0.044642,-0.057941,-0.057314,-0.001569,-0.012587,0.074412,-0.039493,-0.061177,-0.075636,63.0
328,0.023546,-0.044642,0.070319,0.025315,-0.034592,-0.014466,-0.032356,-0.002592,-0.019197,-0.009362,288.0
329,0.016281,0.050680,0.072474,0.076958,-0.008449,0.005575,-0.006584,-0.002592,-0.023645,0.061054,131.0
330,-0.009147,0.050680,-0.030996,-0.026328,-0.011201,-0.001001,-0.021311,-0.002592,0.006209,0.027917,42.0

In [13]:
x

array([[-0.04910502, -0.04464164,  0.16085492, ...,  0.03430886,
         0.02801651,  0.01134862],
       [-0.07090025,  0.05068012, -0.08919748, ..., -0.00259226,
        -0.01290794, -0.05492509],
       [ 0.00175052, -0.04464164, -0.07087468, ..., -0.03949338,
        -0.02251217,  0.00720652],
       ...,
       [ 0.02354575, -0.04464164,  0.0703187 , ..., -0.00259226,
        -0.01919705, -0.00936191],
       [ 0.01628068,  0.05068012,  0.07247433, ..., -0.00259226,
        -0.02364456,  0.06105391],
       [-0.00914709,  0.05068012, -0.03099563, ..., -0.00259226,
         0.00620932,  0.02791705]])

In [15]:
x=data[:,:-1]

In [17]:
x=d.iloc[:,:-1]

In [18]:
x.shape

(331, 10)

In [19]:
x

,# age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,-0.049105,-0.044642,0.160855,-0.046985,-0.029088,-0.019790,-0.047082,0.034309,0.028017,0.011349
1,-0.070900,0.050680,-0.089197,-0.074528,-0.042848,-0.025739,-0.032356,-0.002592,-0.012908,-0.054925
2,0.001751,-0.044642,-0.070875,-0.022885,-0.001569,-0.001001,0.026550,-0.039493,-0.022512,0.007207
3,0.048974,0.050680,0.081097,0.021872,0.043837,0.064134,-0.054446,0.071210,0.032433,0.048628
4,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349
...,...,...,...,...,...,...,...,...,...,...
326,0.012648,-0.044642,-0.020218,-0.015999,0.012191,0.021233,-0.076536,0.108111,0.059881,-0.021788
327,0.019913,-0.044642,-0.057941,-0.057314,-0.001569,-0.012587,0.074412,-0.039493,-0.061177,-0.075636
328,0.023546,-0.044642,0.070319,0.025315,-0.034592,-0.014466,-0.032356,-0.002592,-0.019197,-0.009362
329,0.016281,0.050680,0.072474,0.076958,-0.008449,0.005575,-0.006584,-0.002592,-0.023645,0.061054
330,-0.009147,0.050680,-0.030996,-0.026328,-0.011201,-0.001001,-0.021311,-0.002592,0.006209,0.027917

In [20]:
y=d.iloc[:,-1]

In [21]:
y.shape

(331,)

In [22]:
y

0      346.0
1      104.0
2       49.0
3      180.0
4      110.0
       ...
326    233.0
327     63.0
328    288.0
329    131.0
330     42.0
Name: Y, Length: 331, dtype: float64

In [27]:
data=pd.read_csv("test_diabetes_x_test.csv", header=None)

In [28]:
data

,0,1,2,3,4,5,6,7,8,9
0,0.023546,0.050680,-0.037463,-0.046985,-0.091006,-0.075530,-0.032356,-0.039493,-0.030751,-0.013504
1,-0.078165,-0.044642,-0.073030,-0.057314,-0.084126,-0.074277,-0.024993,-0.039493,-0.018118,-0.083920
2,-0.030942,0.050680,0.001339,-0.005671,0.064477,0.049416,-0.047082,0.108111,0.083797,0.003064
3,-0.005515,0.050680,0.001339,-0.084857,-0.011201,-0.016658,0.048640,-0.039493,-0.041180,-0.088062
4,-0.020045,-0.044642,-0.084886,-0.026328,-0.035968,-0.034194,0.041277,-0.051671,-0.082381,-0.046641
...,...,...,...,...,...,...,...,...,...,...
106,0.009016,0.050680,0.069241,0.059744,0.017694,-0.023234,-0.047082,0.034309,0.103292,0.073480
107,0.005383,-0.044642,0.049840,0.097616,-0.015328,-0.016345,-0.006584,-0.002592,0.017037,-0.013504
108,0.009016,-0.044642,-0.012673,0.028758,-0.018080,-0.005072,-0.047082,0.034309,0.023375,-0.005220
109,0.019913,-0.044642,-0.034229,0.055153,0.067229,0.074155,-0.006584,0.032833,0.024725,0.069338
110,0.016281,0.050680,0.009961,-0.043542,-0.096510,-0.094632,-0.039719,-0.039493,0.017037,0.007207

In [29]:
X_TEST=data.iloc[:,:-1]

In [30]:
X_TEST

,0,1,2,3,4,5,6,7,8
0,0.023546,0.050680,-0.037463,-0.046985,-0.091006,-0.075530,-0.032356,-0.039493,-0.030751
1,-0.078165,-0.044642,-0.073030,-0.057314,-0.084126,-0.074277,-0.024993,-0.039493,-0.018118
2,-0.030942,0.050680,0.001339,-0.005671,0.064477,0.049416,-0.047082,0.108111,0.083797
3,-0.005515,0.050680,0.001339,-0.084857,-0.011201,-0.016658,0.048640,-0.039493,-0.041180
4,-0.020045,-0.044642,-0.084886,-0.026328,-0.035968,-0.034194,0.041277,-0.051671,-0.082381
...,...,...,...,...,...,...,...,...,...
106,0.009016,0.050680,0.069241,0.059744,0.017694,-0.023234,-0.047082,0.034309,0.103292
107,0.005383,-0.044642,0.049840,0.097616,-0.015328,-0.016345,-0.006584,-0.002592,0.017037
108,0.009016,-0.044642,-0.012673,0.028758,-0.018080,-0.005072,-0.047082,0.034309,0.023375
109,0.019913,-0.044642,-0.034229,0.055153,0.067229,0.074155,-0.006584,0.032833,0.024725
110,0.016281,0.050680,0.009961,-0.043542,-0.096510,-0.094632,-0.039719,-0.039493,0.017037

In [31]:
Y_TEST=data.iloc[:,-1]

In [32]:
Y_TEST

0     -0.013504
1     -0.083920
2      0.003064
3     -0.088062
4     -0.046641
         ...
106    0.073480
107   -0.013504
108   -0.005220
109    0.069338
110    0.007207
Name: 9, Length: 111, dtype: float64